* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: sans-serif;
}

main {
  height: 100dvh;
  display: grid;
  grid-template-columns: 20dvw 80dvw;
}

aside {
  background-color: #ffead3;
  padding: 20px 25px;
}

.page-content {
  background-color: #fff0e0;
  padding: 10px 15px;
}

aside h1 {
  text-align: center;
  font-size: 4.2rem;
  margin-bottom: 10px;
  color: #3a3a3a;
}

.h-line {
  height: 3px;
  background-color: #dacab9;
  border-radius: 10px;

  margin-bottom: 50px;
}

.sect-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  gap: 20px;
}

button {
  font-size: 2rem;
  background-color: #FFF1E4;
  width: 70%;
  padding: 6px 7px;
  border: 2px solid #F3E2CF;
  color: #4a3a2a;
  border-radius: 10px;
  transition: all 0.3s ease;
}

button:hover {
  color: #2f241a;
  background-color: #FFEEE0;
  border: 2px solid #EEDBC6;
}

button.selected {
  background-color: #FFEADB;
  border: 2px solid #E7D2BB;
  color: #1f1812;
}
