* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: sans-serif;
}

main {
  height: 100dvh;
  display: grid;
  grid-template-columns: 20dvw 80dvw;
  background-color: #060614;
}

aside {
  padding: 20px 25px;
  border-right: 2px solid #141432;
}

aside h1 {
  text-align: center;
  font-size: 4.2rem;
  margin-bottom: 10px;
  color: #e6e4ff;
}

.h-line {
  height: 3px;
  background-color: #202036;
  border-radius: 10px;

  margin-bottom: 50px;
}

.sect-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  gap: 20px;
}

button {
  font-size: 2rem;
  background-color: transparent;
  width: 80%;
  padding: 6px 7px;
  border: none;
  color: #eeeeee;
  border-radius: 5px;
  border-bottom: 2px solid #1e1a72;
  transition: all 0.3s ease;
  text-align: start;
}

button:hover {
  color: #ffffff;
  background-color: #1e1a72;
  /* border: 2px solid #5A6270; */
  box-shadow: 0 0 10px #747c8851;
  transform: scale(1.05);
}

button.selected {
  background-color: #120e6b;
  /* border: 2px solid #606872; */
  box-shadow: 0 0 10px 2px #1e1a72;
  color: #ffffff;
  transform: scale(1.02);
}

.add-btn,
.new-project-btn {
  width: 15px;
  font-size: 1.8rem;
  height: 15px;
  padding: 12px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #291dd2;
  border: none;
}

.add-btn:hover,
.new-project-btn:hover {
  box-shadow: 0 0 20px #4138ba;
  background-color: #291dd2;
  border: none;
  transform: scale(1.15);
}

.add-btn .add-btn-text,
.new-project-btn span {
  transform: translate(0, -1px);
}

.projects-header {
  position: relative;
}

.new-project-btn {
  position: absolute;
  right: 0;
  top: 50%;
  transform: scale(1) translateY(-50%);
}

.new-project-btn:hover {
  transform: scale(1.15) translateY(-45%);
}

.sect-projects{
  margin-top: 15dvh;
}

.projects-heading{
  font-size: 2.4rem;
}

.hidden {
  display: none;
}
