* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: sans-serif;
}

main {
  height: 100dvh;
  display: grid;
  grid-template-columns: 20dvw 80dvw;
  background-color: #060614;
}

aside {
  padding: 20px 25px;
  border-right: 2px solid #141432;
}

aside h1 {
  text-align: center;
  font-size: 4.2rem;
  margin-bottom: 10px;
  color: #e6e4ff;
}

.h-line {
  height: 3px;
  background-color: #202036;
  border-radius: 10px;

  margin-bottom: 50px;
}

.sect-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  gap: 20px;
}

button {
  font-size: 2rem;
  background-color: #393E46;
  width: 70%;
  padding: 6px 7px;
  border: 2px solid #4E555E;
  color: #EEEEEE;
  border-radius: 5px;
  transition: all 0.3s ease;
}

button:hover {
  color: #FFFFFF;
  background-color: #444B55;
  border: 2px solid #5A6270;
  box-shadow: 0 0 10px #747c8851;
}

button.selected {
  background-color: #2F343B;
  border: 2px solid #606872;
  color: #FFFFFF;
}

.add-btn{
  width: 15px;
  font-size: 1.8rem;
  height: 15px;
  padding: 12px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #291dd2;
  border: none;
}

.add-btn:hover{
  box-shadow: 0 0 20px  #4138ba;
    background-color: #291dd2;
  border: none;
  transform: scale(1.15);
}

.add-btn .add-btn-text{
  transform: translate(0,-1px);
}